# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js modules and build directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 가상 환경 폴더
venv/

# Python 파일 캐시
__pycache__/
*.py[cod]
*.pyo

# 환경 파일
.env

# IDE 설정 파일
.vscode/
.idea/

# 빌드 파일
*.egg-info/
dist/
build/
