/* result1.css */
.title {
    background: #FFEE56;
    width: 100vw;
    height: 15vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 20%;
    padding: 6%;
}

.body-wrapper {
    min-height: 100vh; /* 뷰포트 높이를 100%로 설정하여 화면을 꽉 채움 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 아이템을 수직 방향으로 배열 */
    justify-content: center; /* 수직 방향 중앙 정렬 */
    align-items: center; /* 수평 방향 중앙 정렬 */
    margin: 0%; /* 외부 여백 제거 */
    padding: 0%; /* 내부 패딩 제거 */
    width: 100vw; /* 뷰포트 너비를 100%로 설정 */
  }